@import url('base.css');

:root {
  --bulma-primary-h: 251deg;
  --bulma-primary-s: 88%;
  --bulma-primary-l: 78%;
  --bulma-info-h: 59deg;
  --bulma-info-s: 68%;
  --bulma-info-l: 60%;
  --bulma-success-h: 141deg;
  --bulma-success-s: 61%;
  --bulma-success-l: 61%;
  --bulma-warning-h: 47deg;
  --bulma-warning-s: 94%;
  --bulma-danger-h: 349deg;
  --bulma-danger-s: 60%;
  --bulma-danger-l: 52%;
  --bulma-family-primary: Comfortaa;
  --bulma-family-secondary: Plus Jakarta Sans;
}

.is-family-primary {
  font-family: var(--bulma-family-primary) !important;
}

.is-family-secondary {
  font-family: var(--bulma-family-secondary) !important;
}

.m-4p5 {
  margin: 1.25rem !important;
}

.mt-4p5 {
  margin-top: 1.25rem !important;
}

.mr-4p5 {
  margin-right: 1.25rem !important;
}

.mb-4p5 {
  margin-bottom: 1.25rem !important;
}

.ml-4p5 {
  margin-left: 1.25rem !important;
}

.mx-4p5 {
  margin-left: 1.25rem !important;
  margin-right: 1.25rem !important;
}

.my-4p5 {
  margin-top: 1.25rem !important;
  margin-bottom: 1.25rem !important;
}

.mt-5p5 {
  margin-top: 2.5rem;
}

.p-4p5 {
  padding: 1.25rem !important;
}

.pt-4p5 {
  padding-top: 1.25rem !important;
}

.pr-4p5 {
  padding-right: 1.25rem !important;
}

.pb-4p5 {
  padding-bottom: 1.25rem !important;
}

.pl-4p5 {
  padding-left: 1.25rem !important;
}

.px-4p5 {
  padding-left: 1.25rem !important;
  padding-right: 1.25rem !important;
}

.py-4p5 {
  padding-top: 1.25rem !important;
  padding-bottom: 1.25rem !important;
}

.px-5p5 {
  padding-left: 2.5rem !important;
  padding-right: 2.5rem !important;
}

.ml-5p5 {
  margin-left: 2.5rem !important;
}

.mr-5p5 {
  margin-right: 2.5rem !important;
}

.ml-8p5 {
  margin-left: 4.375rem !important;
}

.mr-8p5 {
  margin-right: 4.375rem !important;
}

.button.is-rounded-4 {
  border-radius: 1rem; /* 16px */
  padding-left: calc(var(--bulma-button-padding-horizontal) + 0.25em);
  padding-right: calc(var(--bulma-button-padding-horizontal) + 0.25em);
  padding-bottom: 1rem;
  padding-top: 1rem;
}


.button.is-transparent {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
}

.am-pm-toggle {
  position: absolute;
  right: 22%;
  top: 50%;
  transform: translateY(-50%);
}

@media only screen and (max-width: 360px) {
   /* CSS styles for screen widths 360px and below */
  .am-pm-toggle {
    right: 15%;
  }
}

@media screen and (width >= 568px) {
  /* CSS styles for screen widths 568px and above */
  .am-pm-toggle {
    right: 35%;
  }
}
/* Fonts:
Comforta for headers
Plus Jakarta sans  for body text
*/
